<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payghost.tpaluminium">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ImageUpload"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContactUs"
            android:screenOrientation="portrait"/>
        <activity android:name=".GalleryImages"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Website"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Files"
            android:screenOrientation="portrait"/>
        <activity android:name=".Message"
            android:screenOrientation="portrait"/>
        <activity android:name=".MoreDetails"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".RetrivesMessages"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".ZoomIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Background"/>
        <activity android:name=".Delete"
            android:screenOrientation="portrait" />
        <activity android:name=".Quote"
            android:screenOrientation="portrait" />
    </application>

</manifest>